@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- Breadcrumbs & Page title-->
<div class="page-title">
    <div class="page-title-text">Login page</div>
    <ul class="breadcrumbs-custom">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
        <li class="active">Влез</li>
    </ul>
</div>
<!-- Login page-->
<section class="section-md bg-white text-center">
    <div class="shell">
        <div class="range range-sm-center spacing-55">
            <div class="cell-xs-12">
                <h2>Sign In</h2>
            </div>
            <div class="cell-sm-9 cell-md-7 cell-lg-6">
                <div class="inset-sm-25">
                    <section>
                        <hr />
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <div class="group-sm group-sm-justify group-middle"> <button type="submit" class="btn btn-round btn-facebook btn-icon btn-icon-left" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><span class="icon fa fa-facebook"></span>@provider.DisplayName</button></div>

                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </section>
                    <div class="text-decoration-lines"><span class="text-decoration-lines-content">OR</span></div>
                    <!-- RD Mailform-->
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="form-label-outside" asp-for="Input.Email">E-mail</label>
                            <input class="form-control" id="login-email" asp-for="Input.Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label-outside" asp-for="Input.Password">Password</label>
                            <input class="form-control" id="login-password" asp-for="Input.Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-tan-hide btn-block">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}