@model AnimalShelter.Web.Infrastructure.EmailSender.EmailViewModels.EmailConfirmationModel

<div>From: @Model.FromAddress</div>
<div>To: @Model.ToAddress</div>
<div>Subject : @Model.Subject</div>
<div> Date: : @Model.SingleDate</div>
<div style="text-align: left;">Description:</div>
<div style="width: 500px;">@Model.Message</div>
