@{
    this.Layout = "_LayoutMainPage";
}
@{
    this.ViewData["Title"] = "Home Page";
}
@model AnimalShelter.Web.ViewModels.Home.IndexViewModel
<!-- Swiper-->
<section>
    <div class="swiper-bg-wrap swiper-style-1 bg-gray-dark">
        <div class="swiper-container swiper-slider swiper-bg swiper-height-1" data-autoplay="3500" data-slide-effect="fade">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-slide-bg="images/slider-1-slide-1-1920x850.jpg"></div>
                <div class="swiper-slide" data-slide-bg="images/slider-1-slide-2-1920x850.jpg"></div>
                <div class="swiper-slide" data-slide-bg="images/slider-1-slide-3-1920x850.jpg"></div>
            </div>
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev"><span>Prev</span></div>
            <div class="swiper-button-next"><span>Next</span></div>
            <!-- Swiper pagination-->
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-bg-content">
            <div class="jumbotron-custom jumbotron-custom-variant-1 context-dark">
                <div class="shell">
                    <div class="jumbotron-custom-inner">
                        <div class="complex-text wow fadeInUpSmall" data-wow-duration=".75s">
                            <p class="h1 complex-text-main">Спаси</p>
                            <div class="complex-text-aside">
                                <p class="h4 mark mark-alternate">малък</p>
                                <p class="h2">живот</p>
                            </div>
                        </div>
                        <p class="h3-alternate wow fadeInUpSmall" data-wow-delay=".1s" data-wow-duration=".75s">Направи дарение</p><a class="btn btn-blue-marguerite btn-effect-anis wow fadeInUpSmall" href="adopt-a-pet.html" data-wow-delay="0.2s" data-wow-duration=".75s">Дари</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- From & pets-->
<section class="section-md-bottom bg-gray-light">
    <div class="shell">
        <div class="box-form box-form-1">
            <partial name="_SearchForm" model="new AnimalShelter.Web.ViewModels.SearchResults.SearchResultsInputModel()" />
        </div>
    </div>

    <!-- Create Adoption Post and Create lost/found post-->
    <div class="shell">
        <div class="shell range spacing-55 range range-sm-center">
            <div class="group-xl group-middle">
                <div class="cell-xs-10 cell-sm-6 cell-md-6">
                    <a class="btn btn-circle btn-blue-marguerite btn-effect-anis wow fadeInUpSmall" asp-area="" asp-controller="Adopt" asp-action="Create" data-wow-delay="0.2s" data-wow-duration=".75s">Добави животно за осиновяване</a>
                </div>
                <div class="cell-xs-10 cell-sm-6 cell-md-6">
                    <a class="btn btn-circle btn-blue-marguerite btn-effect-anis wow fadeInUpSmall" asp-area="" asp-controller="Adopt" asp-action="Index" data-wow-delay="0.2s" data-wow-duration=".75s">Добави намерен/изгубен домашен любимец</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Thumbnails-->
    <div class="shell">
        <div class="range range-sm-center">
            <div class="cell-sm-11 cell-md-1"></div>
            <div class="cell-sm-11 cell-md-10">
                <div class="range spacing-30">
                    <div class="cell-md-1"></div>
                    <div class="cell-xs-6 cell-md-3">
                        <!-- Thumbnail ruby--><a class="thumbnail-ruby" href="/Adopt/All/#adopt-dogs">
                            <img class="thumbnail-ruby-image" src="images/home2-2-269x408.jpg" alt="" width="269" height="408" />
                            <div class="thumbnail-ruby-caption">
                                <p class="thumbnail-ruby-title"><span data-letters-l="Куч" data-letters-r="ета">Кучета</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="cell-xs-6 cell-md-3">
                        <!-- Thumbnail ruby--><a class="thumbnail-ruby" href="/Adopt/All/#adopt-cats">
                            <img class="thumbnail-ruby-image" src="images/home2-4-269x408.jpg" alt="" width="269" height="408" />
                            <div class="thumbnail-ruby-caption">
                                <p class="thumbnail-ruby-title"><span data-letters-l="Кот" data-letters-r="ки">Котки</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="cell-xs-6 cell-md-3">
                        <!-- Thumbnail ruby--><a class="thumbnail-ruby" href="/Adopt/All/#adopt-other">
                            <img class="thumbnail-ruby-image" src="images/home2-5-269x408.jpg" alt="" width="269" height="408" />
                            <div class="thumbnail-ruby-caption">
                                <p class="thumbnail-ruby-title"><span data-letters-l="Дру" data-letters-r="ги">Други</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shell text-center">
        @if (Model.AllAnimals > 1)
        {
            <article class="box-text">
                <h1>повече от @Model.AllAnimals</h1>
                <div class="group-lg group-middle">
                    <h3 class="displacement-1 class=" box-cta-subtitle-top"">животни</h3><a class="btn btn-blue-marguerite btn-effect-anis" href="adopt-a-pet.html">виж всички</a>
                </div>
            </article>
        }
    </div>
</section>


@if (Model.HappyStories.Any())
{
    <!-- SUCCESS stories-->
    <section class="section-md bg-white">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12">
                    <div class="complex-text complex-text-mod">
                        <p class="h1 complex-text-main text-porcelain">Нашите</p>
                        <div class="complex-text-aside">
                            <p class="h2 text-porcelain"><a asp-controller="HappyStories" asp-action="All">истории</a></p>
                            <p class="h4 header-lighter text-tan-hide">за осиновени любимци</p>
                        </div>
                    </div>
                    <!-- Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-complex" id="tabs-2">
                        <!-- Nav tabs-->
                        <div class="scroll-wrap">
                            <ul class="nav nav-tabs">
                                @for (int i = 0; i < Model.HappyStories.Count; i++)
                                {
                                    <li class="@(i == 0 ? "active" : "")">
                                        <a href="#tabs-2-@(i + 1)" data-toggle="tab">
                                            <blockquote class="quote-classic-preview">
                                                <div class="quote-classic-preview-left">
                                                    <img class="quote-classic-preview-image" src=@Model.HappyStories[i].CoverPicturePath alt="" width="280" height="320" />
                                                </div>
                                                <div class="quote-classic-preview-body">
                                                    <cite>@Model.HappyStories[i].PersonName</cite>
                                                    <p class="caption">and @Model.HappyStories[i].PetName</p>
                                                </div>
                                            </blockquote>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- Tab panes-->
                        <div class="tab-content tabs-centered">
                            @for (int i = 0; i < Model.HappyStories.Count; i++)
                            {
                                <div class="@(i == 0 ? "tab-pane fade in active" : "tab-pane fade")" id="tabs-2-@(i + 1)">
                                    <!-- Quote boxed-->
                                    <blockquote class="quote-classic">
                                        <div class="quote-classic-left">
                                            <img class="quote-classic-image" src=@Model.HappyStories[i].CoverPicturePath alt="" width="280" height="320" />
                                        </div>
                                        <div class="quote-classic-body">
                                            <div class="quote-classic-header">
                                                <cite>@Model.HappyStories[i].PersonName</cite>
                                                <p class="caption">and @Model.HappyStories[i].PetName</p>
                                                <p><a class="btn btn-blue-marguerite btn-effect-anis wow fadeInUpSmall" asp-controller="HappyStories" asp-action="StoryProfile" asp-route-id=@Model.HappyStories[i].PostId data-wow-delay="0.2s" data-wow-duration=".75s">Виж повече</a></p>
                                            </div>
                                            <p class="quote-classic-text">
                                                <q>@Model.HappyStories[i].Description</q>
                                            </p>
                                            <div class="quote-classic-meta">
                                                <ul class="quote-classic-meta-list">
                                                    <li class="object-inline"><span class="icon icon-sm icon-primary-filled icon-circle mdi mdi-thumb-up-outline"></span><span>@Model.HappyStories[i].Likes</span></li>
                                                    <li><span>@Model.HappyStories[i].CreatedOn</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<section class="bg-primary oh">
    <div class="shell">
        <div class="range range-custom-bordered-small">
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter" data-from="0" data-to="@Model.AllAnimals">@Model.AllAnimals</div>
                    <p class="counter-box-header">Търсещи дом</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter" data-from="0" data-to="@Model.AdoptedAnimals">@Model.AdoptedAnimals</div>
                    <p class="counter-box-header">Осиновени животни</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-4 cell-md-3 cell-bordered">
                <div class="counter-box-bold">
                    <div class="counter" data-from="0" data-to="@Model.Volunteers">@Model.Volunteers</div>
                    <p class="counter-box-header">Доброволци</p>
                </div>
            </div>
            <div class="cell-xs-6 cell-sm-12 cell-md-3 height-fill">
                <div class="col-decoration-skew">
                    <div class="col-decoration-skew-inner">
                        <h2>Не бъди</h2>
                        <h5>безразличен</h5><a class="btn btn-trout-inverse btn-effect-anis btn-offset-medium" href="make-a-gift-online.html">дари сега</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RD Google Map-->
<section class="box-wrap">
    <div class="box-wrap-map">
        <div class="rd-google-map rd-google-map__model" data-zoom="15" data-x="23.515156" data-y="42.707290">
            <ul class="map_locations">
                <li data-y="42.707290" data-x="23.515156">
                </li>
            </ul>
        </div>
    </div>
    <div class="box-wrap-content">
        <div class="shell">
            <div class="box-wrap-content-interactive">
                <div class="box-contacts">
                    <h4>Адрес</h4>
                    <address>
                        <p>
                            „Хан Богров“ 20
                        </p>
                    </address>
                    <h4>Имейл</h4>
                    <ul class="list-0">
                        <p>
                            office@arsofia.com
                        </p>
                        <p>
                            volunteers@arsofia.com
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


