@using AnimalShelter.Common
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="~/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
    <!-- Page-->
    <div class="page">
        <div class="page-loader">
            <div class="brand-name">
                <img src="images/logo-default-176x45.png" alt="" width="176" height="45" />
            </div>
            <div class="page-loader-body">
                <div class="cssload-jumping"><span></span><span></span><span></span><span></span><span></span></div>
            </div>
        </div>
        <!-- Page Header-->
        <header class="page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <ul class="rd-navbar-nav">
                </ul>
                <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-body-class="rd-navbar-absolute-linked" data-stick-up-clone="false" data-md-stick-up-offset="72px" data-lg-stick-up-offset="72px">
                    <div class="rd-navbar-top-panel">
                        <div class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></div>
                        <div class="rd-navbar-top-panel-content">
                            <ul class="inline-list-xxs">
                                <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-instagram" href="https://www.instagram.com/fourpawsbulgaria/" target="_blank" rel="noreferrer noopener"></a></li>
                                <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-facebook" href="https://www.facebook.com/4lapi" target="_blank" rel="noreferrer noopener"></a></li>
                                <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-youtube-play" href="https://www.youtube.com/user/VierPfotenBG" target="_blank" rel="noreferrer noopener"></a></li>
                            </ul>
                            <div class="object-inline">
                                <a class="link link-md link-white" href="?culture=bg-BG">BG</a>
                                <a class="link link-md link-white" href="?culture=en-US">EN</a>
                            </div>
                        </div>
                    </div>
                    <partial name="_CookieConsentPartial" />
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand-name" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-default-176x45.png" alt="" width="176" height="45" /></a></div>
                        </div>
                        <!-- RD Navbar Nav-->
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-nav-wrap-bg"></div>
                            <ul class="rd-navbar-nav">
                                <li class="active">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["AboutUs"]</a>
                                </li>
                                <li>
                                    <a href="/Adopt/All/#adopt-cats">@Localizer["Adopt"]</a>
                                    <ul class="rd-navbar-dropdown tabs-nav">
                                        <li>
                                            <a href="/Adopt/All/#adopt-cats">@Localizer["AdoptCat"]</a>
                                        </li>
                                        <li>
                                            <a href="/Adopt/All/#adopt-dogs">@Localizer["AdoptDog"]</a>
                                        </li>
                                        <li>
                                            <a href="/Adopt/All/#adopt-other">@Localizer["AdoptOther"]</a>
                                        </li>
                                        @if (this.User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="Adopt" asp-action="Create">@Localizer["CreateAdoptionPost"]</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a href="/LostFound/All/#lost">@Localizer["LostFound"]</a>
                                    <ul class="rd-navbar-dropdown tabs-nav">
                                        <li>
                                            <a href="/LostFound/All/#lost">@Localizer["LostHomeAnimals"]</a>
                                        </li>
                                        <li>
                                            <a href="/LostFound/All/#found">@Localizer["FoundHomeAnimals"]</a>
                                        </li>
                                        @if (this.User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="LostFound" asp-action="Create">@Localizer["CreateLostAndFoundPost"]</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <a>@Localizer["Pages"]</a>
                                    <ul class="rd-navbar-dropdown tabs-nav">
                                        <li>
                                            <a asp-area="" asp-controller="HappyStories" asp-action="All">@Localizer["OurStories"]</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["MakeDonation"]</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Contact" asp-action="SendEmailToUs">@Localizer["Contacts"]</a>
                                        </li>
                                    </ul>
                                </li>
                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @this.RenderBody()
        <!-- Page Footer-->
        <section class="pre-footer-default text-center text-sm-left">
            <div class="shell">
                <div class="range range-sm-center spacing-55">
                    <div class="cell-sm-6 cell-md-4">
                        <div class="brand-sm"><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-default-176x45.png" alt="" width="176" height="45" /></a></div>
                        <p>Помогни,осинови,дари или подай сигнал за изгубено животно в нашият сайт.Те се нуждаят от вас.</p>
                        <div class="group-sm group-middle">
                            <span class="big text-blue-marguerite">Social media</span>
                            <ul class="inline-list-xxs">
                                <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-instagram" href="https://www.instagram.com/fourpawsbulgaria/" target="_blank" rel="noreferrer noopener"></a></li>
                                <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-facebook" href="https://www.facebook.com/4lapi" target="_blank" rel="noreferrer noopener"></a></li>
                                <li><a class="icon icon-xxs icon-circle icon-gray-outline icon-effect-1 fa fa-youtube-play" href="https://www.youtube.com/user/VierPfotenBG" target="_blank" rel="noreferrer noopener"></a></li>
                            </ul>
                        </div>
                    </div>
                    <vc:last-posts></vc:last-posts>
                    <div class="cell-sm-9 cell-md-4 text-sm-center text-md-left">
                        <h5 class="pre-footer-header text-uppercase">Изпратете ни съобщение</h5>
                        <!-- RD Mailform-->
                        <partial name="_ContactForm" model="new AnimalShelter.Web.ViewModels.Contact.SendUsEmailFormInputModel()" />
                    </div>
                </div>
            </div>
        </section>
        <footer class="page-footer-default text-center">
            <div class="shell">
                <div class="range spacing-30">
                    <div class="cell-md-8 cell-lg-9 text-md-left">
                        <ul class="list-nav">
                            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["AboutUs"]</a></li>
                            <li><a href="/Adopt/All/#adopt-cats">@Localizer["Adopt"]</a></li>
                            <li><a href="/LostFound/All/#lost">@Localizer["LostFound"]</a></li>
                            <li><a asp-area="" asp-controller="HappyStories" asp-action="All">@Localizer["OurStories"]</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">@Localizer["MakeDonation"]</a></li>
                            <li><a asp-area="" asp-controller="Contact" asp-action="SendEmailToUs">@Localizer["Contacts"]</a></li>
                        </ul>
                    </div>
                    <div class="cell-md-4 cell-lg-3 text-md-right">
                        <p class="rights">
                            Wetnose&nbsp;&copy;&nbsp;<span id="copyright-year"></span>.&nbsp;<br class="veil-sm"><a class="link-underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            <!-- {%FOOTER_LINK}-->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>


